{% extends "base.html" %}
{% block script %}
{% endblock %}
{% block content %}
<div class="index-container">
    <p>Test page.</p>

	<p><strong><a href="protein">Click here to view a list of proteins.</a></strong></p>
	
	<div>
		One
		<a class="toggleButton" href="protein/">
		<img class="toggleIcon" src="{{ STATIC_URL }}/img/icon-plus.png"/>
		</a>
		<div class="black-box hidden"></div>
		
		Two
		<a class="toggleButton" href="protein/">
		<img class="toggleIcon" src="{{ STATIC_URL }}/img/icon-plus.png"/>
		</a>
		<div class="black-box hidden"></div>
		
		Three
		<a class="toggleButton" href="protein/">
		<img class="toggleIcon" src="{{ STATIC_URL }}/img/icon-plus.png"/>
		</a>
		<div class="black-box hidden"></div>				
	</div>
	
	<p><strong><a href="https://github.com/steveandroulakis/disorder-regions" target="_blank">Source Code</a></strong></p>			
</div>
{% endblock %}
