{% extends "base.html" %}

{% block title %}- {{ protein.protein_name }}{% endblock %}
{% block content %}
	<div id="navcontainer" class="floating-menu">
	<ul id="navlist">
		<li><a href="#protein_information">Protein Information</a></li>
		<li><a href="#original_protein">Original Protein</a></li>
		<ul>
			<li><a href="#lab">Lab</a></li>
			<li><a href="#predicted">Predicted</a></li>			
		</ul>		
		<li><a href="#mutated_proteins">Mutated Proteins</a></li>
	</ul>
	</div>
	
	<a name="protein_information"/>
    <h2>Protein Information:</h2>
    <ul>
		<div><a name="protein"/>
			<table class="datatable">
			<tr>
			    <th colspan="2" class="detail_header">Protein</th>
			</tr>
			<tr>
			    <th class="detail_subheader">Name</th>
				<td>{{ protein.protein_name }}</td>
			</tr>
			<tr>
			    <th class="detail_subheader">Uniprot Accession</th>
			    <td><a href="http://beta.uniprot.org/uniprot/{{ protein.protein_uniprotaccession }}" target="_blank">{{ protein.protein_uniprotaccession }}</a></td>
			</tr>
			<tr>
			    <th class="detail_subheader">Length</th>
				<td>{{ protein.protein_length }}</td>
			</tr>
			<tr>
			    <th class="detail_subheader">Description</th>
				<td>{{ protein.protein_description }}</td>
			</tr>
			<tr>
			    <th class="detail_subheader">Sequence</th>
				<td><div class="sequence">
                		{{ protein.protein_sequence }}
			        </div></td>
			</tr>																																																					
			</table><a name="original_protein"/><a name="lab"/>
			<table class="datatable">
			<tr>
			    <th colspan="5" class="detail_header">Original Protein</th>
			</tr>
			<tr>
			    <th>Lab</th>
			<tr>
				<th class="table_subheader">Sequence</td>
			</tr>
			{% for disorderlab in protein.disorderlab_set.all %}
			<tr>
				<td>{{ disorderlab.disorderlab_disprotacession_nullcheck }}</td>			
			</tr>
			{% endfor %}
			</table>
			<a name="predicted"/>
			<table class="datatable">
			<tr>
			    <th colspan="3" class="detail_header">Original Protein: Predicted</th>
			</tr>			   
			{% for predictor, individualpreresultorigprotein_query in individualpreresultorigprotein_group %}			 	
			<tr>
			    <th colspan="3">Predictor: {{predictor.predictor_name}}</th>
			</tr>
			{% if forloop.first %}			
			<tr>
				<th class="table_subheader">Sequence</th>
				<th class="table_subheader">Start</th>
				<th class="table_subheader">End</th>
			</tr>
			{% endif %}
			{%for individualpreresultorigprotein in individualpreresultorigprotein_query %}
            <tr>
                         <td>
                             <a class="toggleNext" href="../../individualpreresultorigprotein/{{individualpreresultorigprotein.individualpreresultorigprotein_id}}">
                             <div class="sequence">{{ individualpreresultorigprotein.individualpreresultorigprotein_sequence }}</div>
                             </a>
                             <div class="hidden"></div>
                         </td>
                         <td>{{ individualpreresultorigprotein.individualpreresultorigprotein_start }}</td>
                         <td>{{ individualpreresultorigprotein.individualpreresultorigprotein_end }}</td>            
                     </tr>
			{% endfor %}
			{% endfor %}																																																							
			</table>
			
			<a name="mutated_proteins"/>
			<table class="datatable">	
			<tr>
			    <th colspan="5" class="detail_header">Mutated Proteins</th>
			</tr>			
			<tr>
				<th class="table_subheader">Sequence and scores</th>
				<th class="table_subheader">Original</th>
				<th class="table_subheader">Mutated</th>
				<th class="table_subheader">Position</th>
			</tr>
			{% for mutprotein in protein.mutprotein_set.all %}
			<tr>
				<td>
					<a class="toggleNext" href="../../mutprotein/
						{{mutprotein.mutprotein_id}}">
					Disease:<em> {{mutprotein.mutprotein_disease_id_fr.proteinmutationdisease_name}}</em>	
					<div class="sequence"></div>
					</a>
					<div class="hidden"></div>
				</td>
				<td valign="top">{{ mutprotein.mutprotein_orginalaa }}</td>
				<td valign="top">{{ mutprotein.mutprotein_mutatedaa }}</td>
				<td valign="top">{{ mutprotein.mutprotein_mutationposition }}</td>				
			</tr>
			{% endfor %}																																																							
			</table>			
											
		</div>
        <div>
			<a href="../">Back to protein index...</a>
		</div>
    </ul>
{% endblock %}
